<div class="container"
    data-bind="with: searchModel">

  <div class="row">
    <div class="col">
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <input type="text"
                class="form-control"
                placeholder="Budget"
                data-bind="value: request.maxSpend"
        />
      </div>
    </div>

    <div class="col">
      <div class="input-group">
        <input type="text"
                class="form-control"
                placeholder="Budget"
                data-bind="value: request.maxRadius"
        />
        <span class="input-group-addon">mi</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="input-group input-group-lg">
        <input type="text"
              class="form-control"
              placeholder="Enter your zip code"
              data-bind="value: request.zipCode"
        />

        <span class="input-group-btn">
          <button class="btn btn-secondary"
                  data-bind="click: apiSearch"
          >
            <%= fa_icon "search" %>
          </button>
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
        <div class="list-group" data-bind="foreach: response">
        <a class="list-group-item flex-column align-items-start">
          <div class="media">
            <img class="d-flex mr-3" data-bind="attr: { src: picture_images.thumb }">
            <div class="media-body">
              <h5 class="mt-0" data-bind="text: name"></h5>
              <span>from <span data-bind="text: retailer.name"></span> at <span data-bind="text: retailer.address"></span> (<span data-bind="text: $parent.formatDistance(retailer.distance)"></span>)</span><br />
              <small class="text-muted">THC: <span data-bind="text: $parent.formatTHC(thc_range)"></span>, price: <span data-bind="text: $parent.formatCurrency(price)"></span></small>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

</div>
